node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.tpl
!.env.test

# Secrets
.secrets
.secrets.*
!.secrets.tpl
!.secrets.example

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Typst
*.pdf
