node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.tpl
!.env.test

# Secrets
.secrets
.secrets.*
!.secrets.tpl
!.secrets.example

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Typst
*.pdf

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
